!!! 5
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title Freckly App
    = stylesheet_link_tag 'application'
    = csrf_meta_tag
  %body
    %h1.title Freckly
    %h2.sub_title
      Built with love by
      = link_to "Railslove", "http://railslove.com"
    = yield
